<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"40px","bottom":"40px","left":"20px","right":"20px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:40px;padding-right:20px;padding-bottom:40px;padding-left:20px">
    <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"10px"}}}} /-->
    <!-- wp:post-date {"style":{"spacing":{"margin":{"bottom":"20px"}}}} /-->
    <!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /--> 