/*
 * Header Styles
 */
.header {
    background-color: $light-grey;

    p {
        font-family: $font-family-primary;
        font-size: 55px;
        font-weight: $font-weight-light;
        color: green;
    }
}